.c-container{
    padding: 0px 32px;
    display: flex;
    margin: 6rem auto;
}
.c-container .image-container {
    border: 8px solid rgb(232 232 232 / 93%);
}
.c-container > div{
    width: 50%;
}
.contactModes > div{
    display: flex;
    gap: 1.5rem;
    justify-content: start;
}
.contactModes{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.c-mode:hover {
    scale: 1.1;
    box-shadow: var(--shadow);
}
.c-right{
    display: flex;
    justify-content: end;
}
.c-mode {
    display: flex;
    width: 16rem;
    padding: 1rem;
    border: .8px solid rgba(128, 128, 128, .143);
    border-radius: 5px;
    gap: 1rem;
    transition: all .3s ease-in;
    flex-wrap: wrap;
}
.c-mode .button {
    width: 100%;
    background: #eeeeff;
    color: #2949c6;
    font-size: .9rem;
    font-weight: 600;
}
.c-mode .button:hover{
    background: linear-gradient(97.05deg, #4066ff 3.76%, #2949c6 100%);
    color: #fff;
    scale: .8;
}
.c-mode .icon{
    padding: 10px;
    background-color: #eeeeff;
    border-radius: 5px;
}
.c-mode .icon svg{
    color: #2949c6;
}
.c-mode .details span:nth-child(1){
    font-size: 1.1rem;
    font-weight: 600;
    color: #1f3e72;
    display: block;
}
.c-mode .details span:nth-child(2){
    color: #8c8b8b;
    font-size: 14px;
}