.v-container{
    padding: 0px 32px;
    display: flex;
    margin: 4rem auto;
}
.v-container .image-container {
    border: 8px solid rgb(232 232 232 / 93%);
}
.v-description{
    color: #8c8b8b;
    font-size: 14px;
    margin: 12px 0;
}
.v-left, .v-right{
    width: 50%;
}
.accordion-title{
    color: #2949c6;
    font-size: 1.1rem;
    font-weight: 600;
}
.accordion{
    border: none;
}
.accordionItem{
    background-color: #fff;
    border: 0.8px solid rgba(128, 128, 128, 0.143);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
}
.accordionButton{
    background-color: #fff;
    padding: 1rem;
    width: 100%;
    justify-content: space-between !important;
    cursor: pointer;
}
.accordion .icon{
    padding: 10px;
    background-color: #eeeeff;
    border-radius: 5px;
}
.accordion .icon svg{
    color: #2949c6;
}
.accordion-description{
    color: #8c8b8b;
    font-size: 14px;
}
.accordionItem:has(.accordionButton[aria-expanded="true"]){
    box-shadow: 0px 23px 21px -8px rgba(136, 160, 255, .25);
    border-radius: 6px;
}